/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/09/2016, 10:02:47
    Author     : alunos
*/
body {
    font-family: Segoe;
}
#imgCarrinho {
    width: 20px;
    height: 20px;
}
.colunaMenu {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}
#imgMicrosoft{
    width: 108px;
    height: 23px;
}

.imgFlecha {
    width: 10px;
    height: 10px;
}
#imgSearch {
    width: 24px;
    height: 24px;
}
#tabelaPesquisar{
    border: 1px solid black;
    border-radius: 0pt;
}
#campoPesquisar{
    border: 0px;
    color: black;
    padding-left: 5px;
    width: 200px;
    height: 20px;

}
#campoPesquisar::-webkit-input-placeholder {
    color: black;
    font-family: arial;
}
#campoPesquisar::-moz-placeholder {
    color: black;
    font-family: arial;
}
.imgItem {
    width: 270px;
    height: 152px;
}

#imagem {
    height: 480px;
}

#seguir {
    background-color: #ccc;
    height: 45px;
}
#menuinferior {
    background-color: rgb(242, 242, 242);
}